html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/full-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 9400px;
}

.parallax-image {
    top: 1200px;
    position: absolute;
}

#gaming-overlay {
    width: 1332px;
    height: 754px;
    left: 110px;
}

#module-block {
    width: 544px;
    height: 724px;
    left: 110px;
}

#module-options {
    width: 626px;
    height: 712px;
    right: 550px;
}

#modules-overlay {
    width: 766px;
    height: 851px;
    left: 110px;
}

#terucolo-welcome {
    width: 376px;
    height: 414px;
    left: 500px;
}

#welcome-banner {
    width: 1148px;
    height: 418px;
    left: 135px;
}