html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 600px;
    height: 800px;
    margin: 10px auto;
}

.tbct {
    padding: 1em;
    box-shadow: 6px 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    background: #76d750;
    height: 50px;
    width: 50px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 1000;
}

.slick-prev:hover:before,
.slick-next:hover:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 42px;
    line-height: 1;
    opacity: 0.5;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.125s;
}

.slick-prev {
    left: -25px;
}

.slick-prev:before {
    font-family: "FontAwesome";
    content: "\f104";
}

.slick-next {
    right: -25px;
}

.slick-next:before {
    font-family: "FontAwesome";
    content: "\f105";
}

.slick-prev:after,
.slick-next:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -25px;
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
}

.slick-prev:after {
    left: 0;
    border-right: 25px solid #444B52;
}

.slick-next:after {
    right: 0;
    border-left: 25px solid #444B52;
}